/* Padronizando Espaçamentos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    height: 100vh;
}
#items-wrapper{
    width: 100vw;
}
#items{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /*Para que a ação scroll-snap funcione em todos os browsers*/
    scroll-behavior: smooth;
}
.item{
    flex: none;
    width: 100%;
    height: 400px;
    object-fit: cover;
    scroll-snap-align: start;
    pointer-events: none;
}
img{
    /* Tamanho referente a class*/
    width: 100%; 
    height: 100%;
}

/* NavBar */
.nav-wrapper{
    background: linear-gradient(90deg, #09113E 0%, #1AA9A7 100%);
}
#logo{
    position: absolute;
    width: 10vw;
    text-align: left;
    margin-left: 5vw;
}
#nav-mobile{
    margin-right: 5vw;
}
    

